* {
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    @font-face {
        font-family: 'Sirin Stencil';
        font-style: sans-serif;
        font-weight: 400;
        src: url(../assets/sirin_stencil.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    $LIGHTING_FLOOR: 1;
    $LIGHTING_CEIL: 2;
    $LIGHTING_FLAT: 3;
    @mixin text3d(
      $primary, 
      $depth: 5, 
      $shadowsteps: 5, 
      $shadowincrementer: 3px, 
      $shadowopacity: .7, 
      $primaryshadowcolour: #000, 
      $lighting: $LIGHTING_CEIL
  ) {
      $predefinedShadows: (
          0 0 5px rgba($primaryshadowcolour, .05), 
          -1px 0 3px rgba($primaryshadowcolour, .2), 
          3px 0px 5px rgba($primaryshadowcolour, .2));
      $value: ();
      @for $i from 1 through $depth {
          $num: $i + px;
          $hueadjust: $i;
          @if($lighting == $LIGHTING_FLOOR) {
          $hueadjust: ($i * 2 - $depth - 5) * 1%;
          } @else if($lighting == $LIGHTING_CEIL) {
          $hueadjust: -($i*2 + $depth - 10) * 1%;
          } @else if($lighting == $LIGHTING_FLAT) {
          $hueadjust: -$depth * 1%;
          }
          $numSmall: $i * -0.333 + px;
          $colour: adjust-color($primary, $lightness: $hueadjust);
          $theShadow: $num $numSmall 0 $colour;
          $value: append($value, $theShadow, comma);
      }
      
      @for $i from 1 through $shadowsteps {
          @if($i >= length($predefinedShadows)) {
          $dist: $i * $shadowincrementer;
          $value: append($value, $dist 0 $dist rgba($primaryshadowcolour, $shadowopacity));
          } @else {
          $value: append($value, nth($predefinedShadows, $i));
          }
      }
      text-shadow: $value;
  }
  $primarycolour: #fff;

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
      }
      .line {
        width: 100vw;
      }
      .right {
        width: 100vw;
        display: inline-block;
      }
      .right {
        color: #fff;
        transform: skew(0deg, 22deg);
        @include text3d(
          adjust-color($primarycolour, $lightness: -8%), 
          $depth: 9, 
          $primaryshadowcolour: adjust-color($primarycolour, $lightness: -10%, $saturation: +0%),
          $shadowopacity: 0.7
        );
      }
      .left .content {
        width: 100vw;
        text-align: center;
      }
      .right .content {
        width: 100vw;
        text-align: center;
        transform: translate(25vw);
      }
      .wrap {
        transform: translate(0vw, -20vh);
        margin-right: 5vw;
      }
    
      span {
        display: inline-block;
        font-family: 'Sirin Stencil', sans-serif;
        font-size: 10vw;
        line-height: .8;
        text-transform: uppercase;
        transition: ease-out .6s;
        font-weight: 900;
      }
      .iconsContainer {
        display: flex;
        position: absolute;
        bottom: 6vw;
        left: 3vw;
        width: 20vw;
        height: 3vw;
      }
      svg {
        width: 3vw;
        height: 3vw;
        margin: 3vw;
      }
}